<div class="card mx-auto example-container">
  <div class="card-header">
    {{ "EDIT_PROJECT.TITLE" | translate }}
  </div>
  <div class="card-body">
    <form
      *ngIf="projectForm"
      [formGroup]="projectForm"
      (ngSubmit)="onSubmit()"
      class="example-form"
    >
      <mat-form-field>
        <input matInput placeholder="Title" formControlName="title" required />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Type</mat-label>
        <mat-select formControlName="type">
          <mat-option *ngFor="let type of projectTypes" [value]="type.code">
            {{ type.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          placeholder="{{ 'EDIT_PROJECT.TOTAL_AMOUNT' | translate }}"
          formControlName="totalAmount"
          required
        />
      </mat-form-field>

      <mat-form-field>
        <textarea
          matInput
          placeholder="Description"
          formControlName="description"
        ></textarea>
      </mat-form-field>

      <div *ngIf="project.type === 'Cost' || project.type === 'Other'">
        <mat-divider></mat-divider>

        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title
                >{{ "EDIT_PROJECT.ITEMS" | translate }} ({{
                  itemsControls.length
                }})
              </mat-panel-title>
              <mat-panel-description  class="d-none d-sm-block">
                {{ "EDIT_PROJECT.TOTAL_AMOUNT" | translate }} :
                {{ this.project.totalAmount | currency: "EUR" }}
              </mat-panel-description>
            </mat-expansion-panel-header>

            <div
              class="example-container mat-elevation-z8"
              formArrayName="items"
            >
              <table mat-table [dataSource]="itemsControls">
                <!-- Item Column -->
                <ng-container matColumnDef="item">
                  <th mat-header-cell *matHeaderCellDef>Item</th>
                  <td mat-cell *matCellDef="let item">
                    {{ item.value.title }}
                  </td>
                  <td mat-footer-cell *matFooterCellDef>
                    {{ "EDIT_PROJECT.TOTAL" | translate }} :
                  </td>
                </ng-container>

                 <!-- Description Column -->
                 <ng-container matColumnDef="description" class="d-none d-sm-block">
                  <th mat-header-cell *matHeaderCellDef>Description</th>
                  <td mat-cell *matCellDef="let item" class="overflow-ellipsis">
                    {{ item.value.description }}
                  </td>
                  <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <!-- Cost Column -->
                <ng-container matColumnDef="cost">
                  <th mat-header-cell *matHeaderCellDef>
                    {{ "EDIT_PROJECT.AMOUNT" | translate }}
                  </th>
                  <td mat-cell *matCellDef="let item">
                    {{ item.value.amount | currency: "EUR" }}
                  </td>
                  <td mat-footer-cell *matFooterCellDef>
                    {{ this.project.totalAmount | currency: "EUR" }}
                  </td>
                </ng-container>
                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef>#</th>
                  <td mat-cell *matCellDef="let item; let indexItem = index">
                    <button
                      mat-icon-button
                      [matMenuTriggerFor]="menu"
                      type="button"
                    >
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button
                        mat-menu-item
                        type="button"
                        (click)="onEditProjectItemDialog(indexItem, item.value)"
                      >
                        <mat-icon>edit</mat-icon>
                        <span>Edit</span>
                      </button>
                      <button
                        mat-menu-item
                        type="button"
                        (click)="onDeleteItem(indexItem)"
                      >
                        <mat-icon>delete</mat-icon>
                        <span>Delete</span>
                      </button>
                    </mat-menu>
                  </td>
                  <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns"
                ></tr>
                <tr
                  mat-footer-row
                  *matFooterRowDef="displayedColumns; sticky: true"
                ></tr>
              </table>
            </div>

            <mat-action-row>
              <a
                mat-button
                color="accent"
                title="{{ 'EDIT_PROJECT.ADD_ITEM' | translate }}"
                (click)="onEditProjectItemDialog()"
              >
                {{ "EDIT_PROJECT.ADD_ITEM" | translate }}
              </a>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

      <div *ngIf="project.type === 'Budget'">
        <div class="titleActions">
          <h5>
            {{ "EDIT_PROJECT.CATEGORIES" | translate }} ({{
              project.categories.length
            }})
          </h5>
          <span class="spacer"></span>

          <a
            mat-raised-button
            color="accent"
            (click)="onEditCategoryDialog()"
            title="{{ 'EDIT_PROJECT.ADD_CATEGORY' | translate }}"
          >
            {{ "EDIT_PROJECT.ADD_CATEGORY" | translate }}
          </a>
        </div>

        <mat-accordion multi="true">
          <div formArrayName="categories">
            <mat-expansion-panel
            [expanded]="indexOpenedCateg === i" (opened)="setIndexOpenedCateg(i)"
              *ngFor="let categoryCtrl of categoriesControls; let i = index"
              [formGroupName]="i"
            >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h5>{{ categoryCtrl.value.title }}</h5>

                    &nbsp; - {{ categoryCtrl.value.type }} <span class="d-none d-sm-block"> (
                      {{ categoryCtrl.value.totalAmount | currency: "EUR" }})
                  </span>

                </mat-panel-title>
                <mat-panel-description class="d-none d-sm-block">
                  <!-- {{ "EDIT_PROJECT.TOTAL_AMOUNT" | translate }} : {{ categoryCtrl.value.totalAmount | currency :'EUR' }} -->
                  Description : {{ categoryCtrl.value.description }}
                </mat-panel-description>
              </mat-expansion-panel-header>

              <div fxLayout="row" class="d-block d-sm-none expansion-content">
               <strong>Description : </strong> {{ categoryCtrl.value.description }}
              </div>
              <div class="titleActions">
                <a
                  mat-button
                  color="accent"
                  title="{{ 'EDIT_PROJECT.ADD_ITEM' | translate }}"
                  (click)="onEditCategoryItemDialog(categoryCtrl)"
                >
                  {{ "EDIT_PROJECT.ADD_ITEM" | translate }}
                </a>
              </div>



              <div class="example-container mat-elevation-z8">
                <table
                  mat-table
                  [dataSource]="getCategoryItemsControls(categoryCtrl)"
                >
                  <!-- Item Column -->
                  <ng-container matColumnDef="item">
                    <th mat-header-cell *matHeaderCellDef>Item</th>
                    <td mat-cell *matCellDef="let item">
                      {{ item.value.title }}
                    </td>
                    <td mat-footer-cell *matFooterCellDef>
                      {{ "EDIT_PROJECT.TOTAL" | translate }} :
                    </td>
                  </ng-container>

                   <!-- Description Column -->
                   <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef>Description</th>
                    <td mat-cell *matCellDef="let item" class="overflow-ellipsis">

                       {{ item.value.description }}
                    </td>
                    <td mat-footer-cell *matFooterCellDef>

                    </td>
                  </ng-container>

                  <!-- Cost Column -->
                  <ng-container matColumnDef="cost">
                    <th mat-header-cell *matHeaderCellDef>
                      {{ "EDIT_PROJECT.AMOUNT" | translate }}
                    </th>
                    <td mat-cell *matCellDef="let item">
                      {{ item.value.amount | currency: "EUR" }}
                    </td>
                    <td mat-footer-cell *matFooterCellDef>
                      {{ categoryCtrl.value.totalAmount | currency: "EUR" }}
                    </td>
                  </ng-container>
                  <!-- Actions Column -->
                  <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>#</th>
                    <td mat-cell *matCellDef="let item; let indexItem = index">
                      <button
                        mat-icon-button
                        [matMenuTriggerFor]="menu"
                        type="button"
                      >
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button
                          mat-menu-item
                          type="button"
                          (click)="
                            onEditCategoryItemDialog(
                              categoryCtrl,
                              indexItem,
                              item.value
                            )
                          "
                        >
                          <mat-icon>edit</mat-icon>
                          <span>Edit</span>
                        </button>
                        <button
                          mat-menu-item
                          type="button"
                          (click)="
                            onDeleteCategoryItem(categoryCtrl, indexItem)
                          "
                        >
                          <mat-icon>delete</mat-icon>
                          <span>Delete</span>
                        </button>
                      </mat-menu>
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumns"
                  ></tr>
                  <tr
                    mat-footer-row
                    *matFooterRowDef="displayedColumns; sticky: true"
                  ></tr>
                </table>
              </div>

              <mat-divider></mat-divider>

              <mat-action-row>
                <button
                  type="button"
                  mat-button
                  color="accent"
                  title=" {{ 'EDIT_PROJECT.EDIT_CATEGORY' | translate }}"
                  (click)="onEditCategoryDialog(i, categoryCtrl)"
                >
                  {{ "BOUTON.EDIT_PROJECT" | translate }}
                </button>
                <button
                  type="button"
                  mat-button
                  color="accent"
                  title=" {{ 'EDIT_PROJECT.DELETE_CATEGORY' | translate }}"
                  (click)="onDeleteCategory(i)"
                >
                  {{ "BOUTON.DELETE" | translate }}
                </button>
              </mat-action-row>
            </mat-expansion-panel>
          </div>
        </mat-accordion>
      </div>

      <mat-divider></mat-divider>

      <hr />
      <div class="example-button-row">
        <button
          mat-stroked-button
          mat-raised-button
          mat-primary
          type="button"
          [routerLink]="['/projects']"
        >
          {{ "PROJECTS.RETURN_LIST" | translate }}
        </button>

        <button
          mat-stroked-button
          mat-raised-button
          mat-primary
          color="primary"
          type="submit"
          [disabled]="!projectForm.valid"
        >
          {{ "BOUTON.SAVE" | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
