

<mat-spinner *ngIf="isLoading" mx-auto></mat-spinner>
    <div class="card mx-auto example-container" *ngIf="!isLoading">
      <div class="card-header">
        {{ 'LOGIN_FORM.TITLE' | translate }}
      </div>
      <div class="card-body">
        <form  #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="example-form">

            <mat-form-field >
              <input matInput
              placeholder=" {{ 'LOGIN_FORM.EMAIL_LABEL' | translate }}"
              name="email" #emailInput="ngModel" ngModel email required>
              <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>

            </mat-form-field>

            <mat-form-field >
              <input matInput
              placeholder="{{ 'LOGIN_FORM.PASSWORD_LABEL' | translate }}"
              name="password"
              #passwordInput="ngModel"
              ngModel
               required
               minlength="5"
               type="password">
               <mat-error *ngIf="passwordInput.invalid">Please enter a valid password. Min length 5</mat-error>
            </mat-form-field>
            <button mat-stroked-button mat-raised-button class="btn-block " mat-primary color="primary"
            type="submit"
            [disabled]="!loginForm.valid">
            {{ 'BOUTON.LOGIN' | translate }}
          </button>

        </form>
        

      </div>



    </div>
