
.example-container {
  display: flex;
  flex-direction: column;
  max-width: 22rem;
}

mat-form-field,
textarea {
  width: 100%;
}

mat-spinner {
  margin: auto;
}


.example-card {
max-width: 25em;
}

.spacer{
  flex:  1 1 auto;
}

