

<mat-spinner *ngIf="isLoading" mx-auto></mat-spinner>
    <div class="card mx-auto example-container" *ngIf="!isLoading">
      <div class="card-header">
        {{ 'LOGIN_FORM.TITLE' | translate }}
      </div>
      <div class="card-body">
        <form  #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="example-form">

            <mat-form-field >
              <input matInput
              placeholder=" {{ 'LOGIN_FORM.EMAIL_LABEL' | translate }}"
              name="email" #emailInput="ngModel" ngModel email required>
              <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>

            </mat-form-field>

            <mat-form-field >
              <input matInput
              placeholder="{{ 'LOGIN_FORM.PASSWORD_LABEL' | translate }}"
              name="password"
              #passwordInput="ngModel"
              ngModel
               required
               minlength="5"
               type="password">
               <mat-error *ngIf="passwordInput.invalid">Please enter a valid password. Min length 5</mat-error>
            </mat-form-field>
            <button mat-stroked-button mat-raised-button class="btn-block " mat-primary color="primary"
            type="submit"
            [disabled]="!loginForm.valid">
            {{ 'BOUTON.LOGIN' | translate }}
          </button>

        </form>
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <p class="mb-1">Donec id elit non mi porta gravida a.</p>
            <small>Donec id elit non mi porta.</small>
            <span><strong>14</strong> </span>
             <small>Donec id elit non mi porta.</small>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div>
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">List group item heading</h5>
                <span class="badge badge-primary badge-pill">2</span>
              </div>
              <p class="list-group-item-heading">Heading</p>
            </div>


          </li>
          <li class="list-group-item flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">List group item heading</h5>
              <strong>3 days ago</strong>
            </div>
            <small>Donec id elit non mi porta.</small>

          </li>
        </ul>
        <div class="d-flex mb-2">
          <div class="mr-auto">Title</div>
          <div >Price</div>
        </div>
      </div>



    </div>
    <mat-card class="example-card mx-auto">
      <mat-card-title style="display: flex; justify-content: space-between;">
        <div>Title</div>

        <div>Price</div>

      </mat-card-title>
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-button>EDIT</button>
    <button mat-button>DELETE</button>
      </mat-card-actions>

    </mat-card>
    <mat-card>Simple card</mat-card>
    <mat-card>Simple card</mat-card>
    <mat-card>Simple card</mat-card>


