<div class="mx-auto" style="padding: 10px;">

    <h2 class="content-title">  {{ "EDIT_PROJECT.NEW" | translate }}</h2>

      <form  #createProjectForm="ngForm" (ngSubmit)="onSubmit(createProjectForm)" class="example-form mat-card">

          <mat-form-field >
            <input matInput placeholder="Title" name="title" ngModel  required>
          </mat-form-field>

          <mat-form-field >
              <mat-label>Type</mat-label>
              <mat-select name="type" ngModel required>
                <mat-option *ngFor="let type of projectTypes" [value]="type.code">
                  {{type.label}}
                </mat-option>
              </mat-select>
          </mat-form-field>

          <mat-form-field >
              <textarea matInput placeholder="Description" name="description" ngModel ></textarea>
            </mat-form-field>



          <div class="example-button-row">
            <button
              mat-stroked-button
              mat-raised-button
              mat-primary
              type="button"
              [routerLink]="['/projects']"
            >

            {{ "PROJECTS.RETURN_LIST" | translate }}
            </button>



            <button mat-stroked-button
            mat-raised-button  mat-primary color="primary"
            type="submit" [disabled]="!createProjectForm.valid">
            {{ "BOUTON.SAVE" | translate }}
          </button>

          </div>
      </form>


  </div>
