<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [ngClass]="{ hidden: !(isHandset$ | async) }"
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a
        mat-list-item
        (click)="drawer.toggle()"
        routerLink="projects"
        routerLinkActive="active"
        *ngIf="isAuthenticated"
      >
        {{ "MENUS.PROJECTS" | translate }}
      </a>
      <a
      mat-list-item
      (click)="drawer.toggle()"
      routerLink="account"
      routerLinkActive="active"
      *ngIf="isAuthenticated"
    >
      {{ "MENUS.ACCOUNT" | translate }}
    </a>
      <a
        mat-list-item
        (click)="drawer.toggle()"
        routerLink="auth/login"
        routerLinkActive="active"
        *ngIf="!isAuthenticated"
      >
        {{ "MENUS.LOGIN" | translate }}
      </a>

      <a
        mat-list-item
        (click)="drawer.toggle()"
        routerLink="auth/signup"
        routerLinkActive="active"
        *ngIf="!isAuthenticated"
      >
        {{ "MENUS.SIGNUP" | translate }}</a
      >

      <a
        mat-list-item
        (click)="drawer.toggle();onLogout()"
        style="cursor: pointer;"
        *ngIf="isAuthenticated"
      >
        {{ "MENUS.LOGOUT" | translate }}
      </a>

      <mat-form-field >
        <mat-select value="fr">
          <mat-option (click)="drawer.toggle();changerLanguage('fr')" value="fr">Français</mat-option>
          <mat-option  (click)="drawer.toggle();changerLanguage('en')" value="en">Anglais</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="page-wrap">
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span> {{ "GENERAL.TITRE_APP" | translate }}</span>

      <ng-container *ngIf="!(isHandset$ | async)">
        <span class="spacer"></span>
        <a
          routerLink="projects"
          routerLinkActive="active"
          *ngIf="isAuthenticated"
        >
          {{ "MENUS.PROJECTS" | translate }}
        </a>
        <a
        routerLink="account"
        routerLinkActive="active"
        *ngIf="isAuthenticated"
      >
        {{ "MENUS.ACCOUNT" | translate }}
      </a>
        <a
          routerLink="auth/login"
          routerLinkActive="active"
          *ngIf="!isAuthenticated"
        >
          {{ "MENUS.LOGIN" | translate }}
        </a>

        <a
          routerLink="auth/signup"
          routerLinkActive="active"
          *ngIf="!isAuthenticated"
        >
          {{ "MENUS.SIGNUP" | translate }}
        </a>

        <a
          (click)="onLogout()"
          routerLinkActive="active"
          style="cursor: pointer;"
          *ngIf="isAuthenticated"
        >
          {{ "MENUS.LOGOUT" | translate }}
        </a>
        <mat-form-field>
          <mat-select value="fr">
            <mat-option value="fr" (click)="changerLanguage('fr')">Français</mat-option>
            <mat-option value="en" (click)="changerLanguage('en')">Anglais</mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>

    </mat-toolbar>
    <!-- Add Content Here -->
    <br />
    <main class="content">
      <ng-content></ng-content>
    </main>
    <footer>

        <mat-toolbar color="primary">
          <span>Made by Fab</span>
          <span class="spacer"></span>

            <a href="https://twitter.com/fhabumugisha" title="Twitter">
              Twitter</a>
            <a href="https://github.com/fhabumugisha" title="Github">
               Github</a>


        </mat-toolbar>
    </footer>

  </mat-sidenav-content>
</mat-sidenav-container>
