<mat-toolbar color="primary" class="app-header">
  <div><a routerLink="/" target="_blank" class="positronx">Calcapp.io</a></div>
  <span class="nav-tool-items">
    <a mat-button routerLink="projects" routerLinkActive="active">Projects</a>
    <a mat-button routerLink="login" routerLinkActive="active">Log in</a>
    <a
      mat-button
      mat-raised-button
      routerLink="signup"
      routerLinkActive="active"
      >Register</a
    >
  </span>
</mat-toolbar>

<router-outlet></router-outlet>
