/* You can add global styles to this file, and also import other style files */

/* Ajout du thème Angular material par défaut */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

 html, body { height: 100%; }
body{margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

.nav-link,.navbar-brand {
  color: white!important;
}



/* Taille du texte des tooltip */
.mat-tooltip {
  font-size: 15px;
}

/* fin : styles mat-tooltip */
/* ------------------------ */

/* ----------------------------- */
/* debut : styles mat-form-field */

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-expansion-panel {
  margin-bottom: 10px !important;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}






