/* You can add global styles to this file, and also import other style files */

/* Ajout du thème Angular material par défaut */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

 html, body { height: 100%; }
body{margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

.nav-link,.navbar-brand {
  color: white!important;
}

/* Surcharge du style des composants angular material: mat-card, mat-accordion conformément à la charte graphique pda */
/* .mat-card, .mat-expansion-panel {
  border-style: solid;
  border-width: thin;
  border-radius: 0 !important;
  box-shadow: none !important;
} */

.mat-button.mat-primary{
  background-color: var(--couleur-primaire)  !important;
  color: black !important;
  font-weight:bold;
  border-style:solid  !important;
  border-width: 3px  !important;
  border-color: var(--couleur-secondaire)  !important;
  border-radius: 0px  !important;
  box-shadow: none;
}

.mat-button.mat-primary .mat-button-focus-overlay{
  background-color: #ffffff;
  opacity: 0.2;
}

.mat-button.mat-secondary{
  background-color: white  !important;
  color: rgb(0, 0, 0)  !important;
  font-weight:bold;
  border-style:solid  !important;
  border-width: 3px  !important;
  border-color: var(--couleur-secondaire)  !important;
  border-radius: 0px  !important;
  box-shadow: none;
}

.mat-button.mat-accent .mat-button-focus-overlay{
  background-color: var(--couleur-primaire);
}

.mat-button.mat-accent{
  background-color: white  !important;
  color: rgb(0, 0, 0)  !important;
  font-weight:bold;
  border-style:solid  !important;
  border-width: 2px  !important;
  border-color: black !important;
  border-radius: 0px  !important;
  box-shadow: none;
}

.mat-button.mat-warn{
  background-color: #f76b67 !important;
  font-weight: bold;
  color: rgb(255, 255, 255) !important;
  text-shadow: 0 0 2px black;
  border-style: solid !important;
  border-width: 2px !important;
  border-color: #ca0600 !important;
  border-radius: 0px !important;
}

.mat-button.mat-warn .mat-button-focus-overlay{
  background: black;
}

/*  -----------------------------  */
/* début : styles mat-slide-toggle */

/* Réglage couleur de la barre du toggle lorsque sélectionné */
mat-slide-toggle.mat-checked
> *
> div.mat-slide-toggle-bar
{
  background-color: var(--couleur-secondaire) !important;
  border: black 1px;
}

/* Réglage couleur du rond par dessus la barre du toggle lorsque sélectionné */
mat-slide-toggle.mat-checked
> *
> div.mat-slide-toggle-bar
> div.mat-slide-toggle-thumb-container
> div.mat-slide-toggle-thumb {
  background-color: var(--couleur-primaire) !important;
}

/* Réglage couleur du fond entourant le rond lorsque le bouton est sélectionné */
div.mat-ripple-element.mat-slide-toggle-persistent-ripple {
  background-color: var(--couleur-primaire) !important;
}

/* fin : styles mat-slide-toggle */
/* ----------------------------  */



/* fin : styles mat-icon */
/* --------------------- */


/* -------------------------- */
/* debut : styles mat-tooltip */

/* Taille du texte des tooltip */
.mat-tooltip {
  font-size: 15px;
}

/* fin : styles mat-tooltip */
/* ------------------------ */

/* ----------------------------- */
/* debut : styles mat-form-field */

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

/* fin : styles mat-form-field */
/* --------------------------- */

/* ------------------------------------  */
/* début : Structure pour les accordéons */

/* Suppression de la marge du "body" du panel, car sinon un 2ème cadre noir apparait */
/* .mat-expansion-panel-body {
  padding: 0 0 0 0 !important;
} */
.mat-expansion-panel-body {
  padding: 7px 7px 7px 7px !important;
}





