<ng-container *ngIf="projects.length > 0; else noProjects">
  <div class="row">
    <div class="col-md-12">
      <div class="example-button-row">
        <a mat-raised-button color="accent" routerLink="new">
          <mat-icon>add</mat-icon>
          {{ "PROJECTS.ADD_PROJECT" | translate }}</a
        >
      </div>
    </div>
  </div>
  <hr />

  <mat-divider></mat-divider>
  <mat-accordion>
    <mat-expansion-panel [hideToggle]="false" *ngFor="let project of projects">
        <mat-expansion-panel-header>
          <mat-panel-title><h5>{{ project.title }}</h5>  <span class=" text-muted">&nbsp;- {{ project.type }}</span> </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-panel-description >
        <!--   {{ project.type }} -->
        </mat-panel-description>
        <div fxLayout>
          <span
          ><strong>{{ "EDIT_PROJECT.TOTAL_AMOUNT" | translate }} :</strong>     {{ project.totalAmount | currency :'EUR'}}</span>
        <p><strong>Description : </strong> {{ project.description }}</p>

        </div>


         <mat-action-row>
          <a
          style="cursor:pointer;"
          class="card-link text-primary "
          (click)="generatePdf(project._id)"
          routerLinkActive="active"
          >PDF</a
        >
        <a
          style="cursor:pointer;"
          class="card-link text-primary "
          [routerLink]="[project._id, 'edit']"
          routerLinkActive="active"
          >{{ "PROJECTS.EDIT" | translate }}</a
        >
        <a
          style="cursor:pointer;"
          class="card-link text-danger "
          (click)="onDelete(project._id)"
        >
          {{ "PROJECTS.DELETE" | translate }}</a
        >
          </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-divider></mat-divider>

  <mat-paginator
    fxLayout="row"
    [length]="totalProjects"
    [pageSize]="projectsPerPage"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onChangedPage($event)"
    *ngIf="projects.length > 0"
  ></mat-paginator>
</ng-container>

<ng-template #noProjects>
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">{{ "PROJECTS.NO_PROJECT_TITLE" | translate }}</h5>
      <p class="card-text">{{ "PROJECTS.NO_PROJECT_TEXT" | translate }}</p>
      <a
        href="#"
        class="btn btn-primary"
        routerLink="new"
        routerLinkActive="active"
      >
        {{ "PROJECTS.ADD_PROJECT" | translate }}
      </a>
    </div>
  </div>
</ng-template>
